* {
    border: none;
    border-radius: 12px;
    font-family: JetBrains Mono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    background: rgba(25, 23, 36, 0.9);
    color: #e0def4;
}

tooltip {
    color: #e0def4;
}

#workspaces button {
    padding: 0px 5px;
    margin: 5px 3px;
    border-radius: 15px;
    color: #e0def4;
    margin-right: 5px;
    background-color: rgba(224, 222, 244, 1);
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: #9ccfd8;
    background: rgba(156, 207, 216, 1);
    border-radius: 15px;
    min-width: 40px;
}

#workspaces button.urgent {
    color: #11111b;
    background: rgba(166, 227, 161, 1);
    border-radius: 300px;
}

#workspaces button:hover {
    color: #c4a7e7;
    background: #c4a7e7;
    border-radius: 15px;
}

#clock,
#pulseaudio,
#workspaces,
#tray {
    padding: 0px 13px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #1a173a;
}

#tray {
    border-radius: 300px;
    margin-right: 0px;
}

#workspaces {
    border-radius: 300px;
    padding-right: 0px;
    padding-left: 5px;
}

#clock {
    color: #e0def4;
    border-radius: 300px;
    margin-left: 4px;
}

#pulseaudio {
    color: #80c0dd;
    border-right: 0px;
    border-radius: 300px 0px 0px 300px;
}

#pulseaudio.microphone {
    color: #eaa8b8;
    border-radius: 0px 300px 300px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 0px;
    margin-left: -12px;
}

#custom-notification {
    font-family: "JetBrainsMono Nerd Font";
    color: #e0def4;
    border-radius: 300px;
    margin-right: 10px;
    margin-left: 5px;
    padding: 0px 13px;
    margin-top: 6px;
    padding-left: 9px;
}

#backlight {
    margin-right: 20px;
}

#battery {
    margin-right: 20px;
}
