window {
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: rgba(10, 10, 10, 0.7);
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 15px;
    color: #D1D8D6;
}

#input {
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: #FF355B;
    padding: 3px 5px;
    font-weight: bold;
    background-image: none;
}

#input > image.left {
    -gtk-icon-transform:scaleX(0);
}

#input:focus {
    box-shadow: none;
}

#inner-box, #outer-box, #scroll {
    background-color: transparent;
    margin: 5px;
    padding: 0;
}

#entry {
    padding: 3px 5px;
    margin: 2px 0;
    background-color: transparent;
    font-weight: bold;
}

#entry:selected {
    background-color: #FF355B;
    color: #0e0e0e !important;
}

#text:selected {
    color: #0e0e0e;
}

#text {
    margin-left: 5px;
}

#text::selection {
    color: #0e0e0e;
}

#img {
    margin-right: 10px;
}
